/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
  width: 100%;
  .c-mainvisual__title {
    text-indent: -9999px;
    position: absolute;
  }
  .c-mainvisual__bg {
    width: 100%;
    img{
        width: 100%;
    };
  }
}
.c-mainvisual__link {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  writing-mode: vertical-lr;
  text-align: right;
  background: #514977;
  letter-spacing: 2.6px;
  padding: 23px 15px 23px;
  position: fixed;
  top: 92px;
  right: 0;
  z-index: 9999;
}
