/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-about {
  padding: 63px 0;
  @include tab {
    padding: 34px 0 36px;
  }
  .c-about__title {
    font-size: 5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    @include tab {
      font-size: 2rem;
    }
  }
  .c-about__products {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    @include tab {
      flex-direction: column;
      margin-top: 23px;
    }
  }
  .c-about__product {
    width: 48.2%;
    &:last-child {
      padding-left: 1px;
    }
    @include tab {
      width: 100%;
      &:last-child {
        padding-left: 0px;
        margin-top: 27px;
      }
    }
  }
  .c-about__prepare {
    margin-top: 65px;
    @include tab {
      margin-top: 32px;
    }
  }
  .c-about__fabrics {
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
  }
  .c-about__fabric {
    &:last-child {
      padding-right: 7px;
    }
  }
  .c-about__fabricimg {
    border-radius: 13px;
  }
  .c-about__fabricname {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: #333;
    padding-top: 4px;
  }
  .c-about__usableiki {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 43px;
    padding: 4px 0;
    max-width: 700px;
    background-image: url("../../assets/img/bg-purple.jpg");
    background-size: cover;
  }
  .c-about__notice {
    color: #d15354;
    font-size: 2.3rem;
    font-weight: 700;
    padding-top: 32px;
    font-feature-settings: "palt" 1;
    letter-spacing: 1.3px;
  }
  .c-about__text {
    color: #333;
    font-size: 2.3rem;
    font-weight: 700;
    padding-top: 10px;
    line-height: 1.81;
    font-feature-settings: "palt" 1;
    letter-spacing: 1.1px;
  }
  .c-about__content {
    margin-top: 42px;
    @include tab {
      margin-top: 24px;
    }
  }
  .c-about__bags {
    display: flex;
    max-width: 1000px;
    margin: 102px auto 96px;
    justify-content: space-between;
    @include tab {
      flex-direction: column;
      padding: 0 13px;
      margin: 42px auto 43px;
    }
  }
  .c-about__bag {
    display: block;
    width: 50%;
    max-width: 480px;

    &:last-child {
      text-align: right;
    }
    @include tab {
      width: 100%;
      margin: 0 auto;
      &:last-child{
        margin-top: 25px;
      }
    }
  }
}
