/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-order {
  background: url("../../assets/img/bg_1.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-size: 23px auto;
  background-position: 0px -5px;
  @include sp{
    background-size: 12px auto;
  }
  .c-order__orderlink {
    width: 50%;
    max-width: 480px;
    padding: 70px 0 65px;
    @include tab {
        width: 100%;
        &:first-child{
            padding: 35px 0 25px;
        }
        &:last-child{
            padding-bottom: 40px;
            padding-top: 0;
        }
        margin: 0 auto;
    }
  }
  .c-order__wrapper{
    display: flex;
    justify-content: space-between;
    @include tab {
        flex-direction:  column;
    }
  }
}
