/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-cushion {
  .c-cushion__banner {
    padding-top: 35px;
  }
  .c-cushion__title {
    text-align: center;
    font-size: 5rem;
    color: #333;
    font-weight: 700;padding-top: 85px;
    font-feature-settings: "palt" 1;
  }
  .c-cushion__cushionsize {
    padding-top: 36px;
  }
  .c-cushion__about{
    padding-top: 31px;
    margin-bottom: 96px;
  }
}
