/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-bag {
  .c-bag__banner {
    padding-top: 100px;
  }
  .c-bag__title {
    text-align: center;
    font-size: 5rem;
    color: #333;
    font-weight: 700;
    padding-top: 84px;
    font-feature-settings: "palt" 1;
  }
  .c-bag__bagsize {
    padding-top: 41px;
  }
  .c-bag__about {
    padding-top: 31px;
    margin-bottom: 96px;
  }
}
