/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-flow {
	.c-flow__title {
        text-align: center;
        font-size: 5rem;
        color: #333;
        font-weight: 700;
        padding-top: 80px;
       
      }
      .c-flow__content{
        margin-top: 31px;
    margin-bottom: 95px;
      }
}
