/* layout
------------------------------------------------------------*/
body {
  font-family: $main-fonts;
  font-size: 1.4rem;
  line-height: 1.5;
  @include sp {
    min-width: 320px;
  }
}

.l-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.l-container--1000 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  @include tab {
    padding: 0 13px;
  }
}
.l-container--700 {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.c-top {
  position: fixed;
  width: 50px;
  bottom: 35px;
  right: 35px;
  @include sp {
    position: fixed;
    width: 50px;
    bottom: 6%;
    right: 0px;
  }
}
.is-sp{
    display: none;
    @include sp{
        display: block;
    }
}
.is-tab{
    display: none;
    @include tab{
        display: block;
    }
}
.is-pc{
    display: block;
    @include tab{
        display: none;
    }
}
.is-inlineblock{
    display: inline-block;
    @include tab{
        display: none;
    }
}
.is-shownav{
    display: flex;
    @include tab{
        display: none !important;
    }
}