<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page">
<!-- @@meta -->

<!-- @content -->
<main class="p-top">
  <%- include('_partials/mainvisual'); -%>
  <%- include('_partials/about'); -%>
  <%- include('_partials/cushion'); -%>
  <%- include('_partials/bag'); -%>
  <%- include('_partials/flow'); -%>
  <a href="#" class="c-top is-hidden">
    <img src="./assets/img/btn_top.svg" alt="和奏">
  </a>
  <a href="#" class="c-footer__link is-sp">
    お問い合わせ・ご注文はこちら
</a>
<a href="#" class="is-pc c-mainvisual__link is-inlineblock">
  お問い合わせ・ご注文はこちら
</a>
</main>
<!-- @@content -->

<!-- @script -->

<!-- @@script -->
