<section class="c-about" id="about">
    <div class="l-container--1000">
        <h2 class="c-about__title">思い出の帯が生まれ変わる！</h2>
        <div class="c-about__products">
            <div class="c-about__product">
                <img src="./assets/img/img_cushion.jpg" alt="思い出の帯がクッションに
                生まれ変わる！">
            </div>
            <div class="c-about__product">
                <img src="./assets/img/img_bag.jpg" alt="思い出の帯が
                バッグに生まれ変わる！">
            </div>
        </div>
        <div class="c-about__prepare l-container--700">
            <p class="c-about__title">ご用意いただく帯</p>
            <img class="c-about__content" src="./assets/img/img_obi.jpg" alt="ご用意いただく帯">
        </div>
    </div>

    <div class="c-about__bags">
        <a href="#" class="c-about__bag">
            <img src="./assets/img/btn_cushion.jpg" alt="バッグの
            詳細はこちら">
        </a>
        <a href="#" class="c-about__bag">
            <img src="./assets/img/btn_bag.jpg" alt="クッションの
            詳細はこちら">
        </a>
    </div>
    <div class="c-order">
        <div class="l-container--1000 c-order__wrapper">
            <a href="#" class="c-order__orderlink">
                <img src="./assets/img/btn_flow.svg" alt="ご注文から
                納品までの流れ_">
                
            </a>
            <a href="#" class="c-order__orderlink">
                <img src="./assets/img/btn_order.svg" alt="お問い合わせ
                ご注文はこちら">
            </a>
        </div>
    </div>
</section>