<section class="c-about">
    <div class="l-container--1000">
        <h2 class="c-about__title">思い出の帯が生まれ変わる！</h2>
        <div class="c-about__products">
            <a href="#" class="c-about__product">
                <img src="./assets/img/img_cushion.jpg" alt="思い出の帯がクッションに
                生まれ変わる！">
            </a>
            <a href="#" class="c-about__product">
                <img src="./assets/img/img_bag.jpg" alt="思い出の帯が
                バッグに生まれ変わる！">
            </a>
        </div>
        <div class="c-about__prepare l-container--708">
            <p class="c-about__title">ご用意いただく帯</p>
            <div class="c-about__fabrics">
                <div class="c-about__fabric">
                    <img class="c-about__fabricimg" src="./assets/img/prepare-1.jpg" alt="袋帯">
                    <h3 class="c-about__fabricname">袋帯</h3>
                </div>
                <div class="c-about__fabric">
                    <img class="c-about__fabricimg" src="./assets/img/prepare-2.jpg" alt="名古屋帯">
                    <h3 class="c-about__fabricname">名古屋帯</h3>
                </div>
            </div>
            <h3 class="c-about__usableiki">使用可能粋について</h3>
            <p class="c-about__notice">柄の取り方は基本的にお任せいただくことになります。</p>
            <p class="c-about__text c-about__request">ご要望がございましたら、ご注文後にお問い合わせください。</p>
            <p class="c-about__text">
                
                全通柄袋帯・六通柄袋帯、全通柄名古屋帯・六通柄名古屋帯の場合、 <br>
                使用可能粋は以下の通りです。 <br>
            </p>

        </div>
      
        
    </div>
</section>