<section class="c-bag" id="bag">
    <div class="c-bag__banner l-container--1000">
        <img src="./assets/img/mv_bag.jpg" alt="思い出の帯が
        バッグに生まれ変わる！">
    </div>
    <h2 class="c-bag__title">2サイズご用意しています</h2>
    <div class="c-bag__bagsize l-container--1000">
        <img src="./assets/img/img_bag_size.jpg" alt="2サイズご用意しています">
    </div>
    <div class="c-bag__about l-container--700">
        <img src="./assets/img/img_bag_about.jpg" alt="2サイズご用意しています">
    </div>
    <div class="c-order">
        <div class="l-container--1000 c-order__wrapper">
            <a href="#" class="c-order__orderlink">
                <img src="./assets/img/btn_flow.svg" alt="ご注文から
                納品までの流れ_">
                
            </a>
            <a href="#" class="c-order__orderlink">
                <img src="./assets/img/btn_order.svg" alt="お問い合わせ
                ご注文はこちら">
            </a>
        </div>
    </div>
</section>