<section class="c-cushion" id="cushion">
    <div class="c-cushion__banner l-container--1000">
        <img src="./assets/img/mv_cushion.jpg" alt="思い出の帯が
        クッションに
        生まれ変わる！">
    </div>
    <h2 class="c-cushion__title">３サイズご用意しています</h2>
    <div class="c-cushion__cushionsize l-container--1000">
        <img src="./assets/img/img_cushion_size.jpg" alt="３サイズご用意しています">
    </div>
    <div class="c-cushion__about l-container--700">
        <img src="./assets/img/img_cushion_about.jpg" alt="３サイズご用意しています">
    </div>
    <div class="c-order">
        <div class="l-container--1000 c-order__wrapper">
            <a href="#flow" class="c-order__orderlink">
                <img src="./assets/img/btn_flow.svg" alt="ご注文から
                納品までの流れ_">
                
            </a>
            <a href="/obi-remake/order/" class="c-order__orderlink">
                <img src="./assets/img/btn_order.svg" alt="お問い合わせ
                ご注文はこちら">
            </a>
        </div>
    </div>
</section>