<section class="c-flow" id="flow">
    <h2 class="c-flow__title">ご注文から納品までの流れ</h2>
    <div class="c-flow__content l-container--700">
        <img src="./assets/img/img_flow.jpg" alt="ご注文から納品までの流れ">
    </div>
    <div class="c-order">
        <div class="l-container--1000 c-order__wrapper">
            <a href="#flow" class="c-order__orderlink">
                <img src="./assets/img/btn_flow.svg" alt="ご注文から
                納品までの流れ_">
                
            </a>
            <a href="/obi-remake/order/" class="c-order__orderlink">
                <img src="./assets/img/btn_order.svg" alt="お問い合わせ
                ご注文はこちら">
            </a>
        </div>
    </div>
</section>