<footer class="c-footer">
  <div class="l-container--1000">
    <a href="https://www.rakuten.co.jp/kimono-bii/" class="c-footer__banner">
      <img src="./assets/img/footer-banner.jpg" alt="和奏">
    </a>
    <a href="./" class="c-footer__logo">
      <img src="./assets/img/logo.png" alt="和奏">
    </a>
    <p class="c-footer__copyright">Copyright c Wakana All Right Reserved.</p>
  </div>
</footer>