<section class="c-mainvisual">
    <div class="c-mainvisual__bg">
        <img src="./assets/img/mv_obi_remake.jpg" alt=" タンスの眠りから目覚めよ！帯リメイク">
        <a href="#" class="c-mainvisual__link is-inlineblock">
            お問い合わせ・ご注文はこちら
        </a>
    </div>
    <h1 class="c-mainvisual__title">
        タンスの眠りから目覚めよ！帯リメイク
    </h1>
</section>